# Deployment
/.devcontainer @difcsi
/.github/workflows @difcsi

/ci @difcsi

# Frontend
/resources/frontend @difcsi
/.storybook @difcsi

# Backend
/app @volubepossum
/bootstrap @volubepossum
/config @volubepossum
/database @volubepossum
/routes @volubepossum
/public @volubepossum
/tests @volubepossum


# API YAML
/doc/api.yaml @difcsi @volubepossum