
# Frontend
/src/resources/frontend @difcsi

# Backend
/src/app @volubepossum
/src/bootstrap @volubepossum
/src/config @volubepossum
/src/database @volubepossum
/src/routes @volubepossum
/src/public @volubepossum
/src/tests @volubepossum



# API YAML
/doc/api.yaml @difcsi @volubepossum