version: 2
updates:
    # Update all packages
    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'weekly'
    - package-ecosystem: 'composer'
      directory: '/'
      schedule:
          interval: 'weekly'
