// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.centered{
    text-align:center;
}

.progress-bar-title {
    position: absolute;
    text-align: center;
    overflow: hidden;
    right: 0;
    left: 0;
    top: 0;
}

.qr-code{
    position:absolute;
    border: 10px solid red;
}
